.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  background: url(https://sc2.nosdn.127.net/2/pic/201804/BG2.jpg) center center no-repeat;
}
#pageCenter {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}
.logo {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo:hover img {
  width: 120%;
  opacity: 0.75;
}
.logo img {
  user-select: none;
  transition: all 0.35s;
  width: 75%;
  opacity: 1;
}
.title {
  margin-top: 25px;
  font-size: 36px;
  max-width: 80%;
  color: gold;
  font-weight: bold;
  text-shadow: 3px 3px 16px rgba(255, 215, 0, 0.6);
  text-align: center;
}
.time {
  font-size: 20px;
  max-width: 80%;
  color: tomato;
  font-weight: bold;
  text-shadow: 3px 3px 16px rgba(255, 215, 0, 0.6);
  text-align: center;
}
.info {
  width: 288px;
  height: 69px;
  background: url(https://sc2.nosdn.127.net/1/style/v4/landing/201804/more-btn-1.png) no-repeat 0 0;
  opacity: 0.85;
  transition: all 0.35s;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
.info a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.info:hover {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  .logo img {
    width: 90%;
  }
}
